{% extends 'user_index.html'%} {% load static %} {% block content %}

<section id="welcome">
    <div class="section-inner">

        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center mb100">                        
                    <h2 class="section-heading">Welcome <span class="theme-accent-color">To</span> JOBS 4 YOU </h2>
                    <hr class="thin-hr">
                    <h3 class="section-subheading secondary-font">Were very happy to see you.</h3>
                </div>
            </div>
        </div>

        <div>
            <div class="container">
                <div class="col-md-3">
                    <h2 class="mb50">About <span class="theme-accent-color">JOBS 4 YOU</span></h2>
                    <p class="lead">Find the job you want!.</p>
                    <p>Reach professionals with just the right skills and experience. Get great applicants fast. Post your free job in minutes with pre-written job templates. Make a great hire fast! Recruit Top Talent..</p>
                    <p class="mt30"><a href="#contactform" class="btn btn-primary btn-theme page-scroll">Get In Touch</a></p>
                </div>

                <div class="col-md-8 col-md-offset-1">
                    <div class="row">
                        <div class="col-sm-6 wow fadeInUp" data-wow-delay="0.2s">
                            <div class="icon-box-1 match-height mb30">
                                <i class="fa-4x pe-7s-camera"></i>
                                <div class="content-area">
                                    <h3 class="title">Job Alert</h3>                                            
                                    <div class="content">Goodbye gray sky hello blue. There's nothing can hold me when I hold you. Feels so right it cant be wrong.</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 wow fadeInUp" data-wow-delay="0.2s">
                            <div class="icon-box-1 match-height mb30">
                                <i class="fa-4x pe-7s-chat"></i>
                                <div class="content-area">
                                    <h3 class="title">Notifications</h3>                                            
                                    <div class="content">Get free job alerts, know about relevant job vacancies and ease your job search..</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 wow fadeInUp" data-wow-delay="0.2s">
                            <div class="icon-box-1 match-height mb30">
                                <i class="fa-4x pe-7s-film"></i>
                                <div class="content-area">
                                    <h3 class="title">Vacancies</h3>                                            
                                    <div class="content">A man is born he's a man of means. Then along come two they got nothin' but their jeans. But they got diff'rent strokes. It takes diff'rent strokes.</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 wow fadeInUp" data-wow-delay="0.2s">
                            <div class="icon-box-1 match-height mb30">
                                <i class="fa-4x pe-7s-wine"></i>
                                <div class="content-area">
                                    <h3 class="title">Services</h3>                                            
                                    <div class="content">Now were up in the big leagues getting' our turn at bat. Movin' on up to the east side. We finally got a piece of the pie.</div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>

<section class="silver-bg">
    <div class="section-inner">
         <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center mb100">
                    <h2 class="section-heading">Our <span class="theme-accent-color">Top</span> Companies</h2>
                </div>
            </div>
        </div>
        <div class="wow fadeIn" data-wow-delay="0.2s">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <ul class="owl-carousel-paged testimonial-owl wow fadeIn list-unstyled" data-items="3" data-items-tablet="[768,2]" data-items-mobile="[479,1]">
                            <li>
                                <div class="row hover-item">
                                    <div class="col-xs-12">
                                        <img src="{% static 'assets/img/team/TCS.png' %}" class="img-responsive smoothie" alt="">
                                    </div>
                                    <div class="col-xs-12 overlay-item-caption smoothie"></div>
                                    <div class="col-xs-12 hover-item-caption smoothie">
                                        <div class="vertical-center">
                                            <h3 class="smoothie"><a href="single-portfolio.html" title="view project">TATA CONSULTANCY COMPANY</a></h3>
                                            
                                                    
                                        </div>
                                    </div>
                                    <span class="theme-accent-color-bg hover-bar"></span>
                                </div>
                            </li>
                            <li>
                                <div class="row hover-item">
                                    <div class="col-xs-12">
                                        <img src="{% static 'assets/img/team/2.jpg' %}" class="img-responsive smoothie" alt="">
                                    </div>
                                    <div class="col-xs-12 overlay-item-caption smoothie"></div>
                                    <div class="col-xs-12 hover-item-caption smoothie">
                                        <div class="vertical-center">
                                            <h3 class="smoothie"><a href="single-portfolio.html" title="view project">INFOSYS</a></h3>
                                            
                                        </div>
                                        <span class="theme-accent-color-bg hover-bar"></span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="row hover-item">
                                    <div class="col-xs-12">
                                        <img src="{% static 'assets/img/team/WIPRO.jpg' %}" class="img-responsive smoothie" alt="">
                                    </div>
                                    <div class="col-xs-12 overlay-item-caption smoothie"></div>
                                    <div class="col-xs-12 hover-item-caption smoothie">
                                        <div class="vertical-center">
                                            <h3 class="smoothie"><a href="single-portfolio.html" title="view project">WIPRO TECHNOLOGIES</a></h3>
                                            
                                        </div>
                                        <span class="theme-accent-color-bg hover-bar"></span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="row hover-item">
                                    <div class="col-xs-12">
                                        <img src="{% static 'assets/img/team/4.jpg' %}" class="img-responsive smoothie" alt="">
                                    </div>
                                    <div class="col-xs-12 overlay-item-caption smoothie"></div>
                                    <div class="col-xs-12 hover-item-caption smoothie">
                                        <div class="vertical-center">
                                            <h3 class="smoothie"><a href="single-portfolio.html" title="view project">RELIANCE</a></h3>
                                            
                                        </div>
                                        
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<section class="white-bg">
    <div class="section-inner">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center mb100">                        
                    <h2 class="section-heading">Latest <span class="theme-accent-color">Vacancies</span>
                    <hr class="thin-hr">
                    <h3 class="section-subheading secondary-font">Fresh news from top companies</h3>
                </div>
            </div>
        </div>

        <div class="overlay-layer mb30">
            <div class="container">
                <div class="row">
                    <ul class="owl-carousel-highlighted news-carousel fw-carousel list-unstyled" data-items="3" data-items-tablet="[768,2]"  data-items-mobile="[479,1]">
                        <li class="nopadding-lr hover-item">
                            <img src="{% static 'assets/img/news/3.jpg' %}" class="img-responsive smoothie" alt="">
                            <div class="overlay-item-caption smoothie wow fadeIn" data-wow-delay="0.2s">
                                <div class="vertical-center smoothie">
                                    <strong class="heading-font"><span class="theme-accent-color-bg">Travel</span></strong>
                                    <h3><a href="single-post.html" title="view project">Post Title</a></h3>
                                </div>
                            </div>
                            <div class="hover-item-caption smoothie">
                                <h3 class="vertical-center smoothie"><a href="single-post.html" class="smoothie btn btn-primary btn-white page-scroll" title="view article"><i class="fa fa-long-arrow-right"></i></a></h3>
                                <span class="theme-accent-color-bg hover-bar"></span>
                            </div>
                        </li>
                        <li class="nopadding-lr hover-item">
                            <img src="{% static 'assets/img/news/4.jpg' %}" class="img-responsive smoothie" alt="">
                            <div class="overlay-item-caption smoothie wow fadeIn" data-wow-delay="0.2s">
                                <div class="vertical-center smoothie">
                                    <strong class="heading-font"><span class="theme-accent-color-bg">Travel</span></strong>
                                    <h3><a href="single-post.html" title="view project">Post Title</a></h3>
                                </div>
                            </div>
                            <div class="hover-item-caption smoothie">
                                <h3 class="vertical-center smoothie"><a href="single-post.html" class="smoothie btn btn-primary btn-white page-scroll" title="view article"><i class="fa fa-long-arrow-right"></i></a></h3>
                                <span class="theme-accent-color-bg hover-bar"></span>
                            </div>

                        </li>
                        <li class="nopadding-lr hover-item">
                            <img src="{% static 'assets/img/news/5.jpg' %}" class="img-responsive smoothie" alt="">
                            <div class="overlay-item-caption smoothie wow fadeIn" data-wow-delay="0.2s">
                                <div class="vertical-center smoothie">
                                    <strong class="heading-font"><span class="theme-accent-color-bg">Travel</span></strong>
                                    <h3><a href="single-post.html" title="view project">Post Title</a></h3>
                                </div>
                            </div>
                            <div class="hover-item-caption smoothie">
                                <h3 class="vertical-center smoothie"><a href="single-post.html" class="smoothie btn btn-primary btn-white page-scroll" title="view article"><i class="fa fa-long-arrow-right"></i></a></h3>
                                <span class="theme-accent-color-bg hover-bar"></span>
                            </div>

                        </li>
                        <li class="nopadding-lr hover-item">
                            <img src="{% static 'assets/img/news/6.jpg' %}" class="img-responsive smoothie" alt="">
                            <div class="overlay-item-caption smoothie wow fadeIn" data-wow-delay="0.2s">
                                <div class="vertical-center smoothie">
                                    <strong class="heading-font"><span class="theme-accent-color-bg">Travel</span></strong>
                                    <h3><a href="single-post.html" title="view project">Post Title</a></h3>
                                </div>
                            </div>
                            <div class="hover-item-caption smoothie">
                                <h3 class="vertical-center smoothie"><a href="single-post.html" class="smoothie btn btn-primary btn-white page-scroll" title="view article"><i class="fa fa-long-arrow-right"></i></a></h3>
                                <span class="theme-accent-color-bg hover-bar"></span>
                            </div>

                        </li>
                        <li class="nopadding-lr hover-item">
                            <img src="{% static 'assets/img/news/7.jpg' %}" class="img-responsive smoothie" alt="">
                            <div class="overlay-item-caption smoothie wow fadeIn" data-wow-delay="0.2s">
                                <div class="vertical-center smoothie">
                                    <strong class="heading-font"><span class="theme-accent-color-bg">Travel</span></strong>
                                    <h3><a href="single-post.html" title="view project">Post Title</a></h3>
                                </div>
                            </div>
                            <div class="hover-item-caption smoothie">
                                <h3 class="vertical-center smoothie"><a href="single-post.html" class="smoothie btn btn-primary btn-white page-scroll" title="view article"><i class="fa fa-long-arrow-right"></i></a></h3>
                                <span class="theme-accent-color-bg hover-bar"></span>
                            </div>
                        </li>
                        <li class="nopadding-lr hover-item">
                            <img src="{% static 'assets/img/news/8.jpg' %}" class="img-responsive smoothie" alt="">
                            <div class="overlay-item-caption smoothie wow fadeIn" data-wow-delay="0.2s">
                                <div class="vertical-center smoothie">
                                    <strong class="heading-font"><span class="theme-accent-color-bg">Travel</span></strong>
                                    <h3><a href="single-post.html" title="view project">Post Title</a></h3>
                                </div>
                            </div>
                            <div class="hover-item-caption smoothie">
                                <h3 class="vertical-center smoothie"><a href="single-post.html" class="smoothie btn btn-primary btn-white page-scroll" title="view article"><i class="fa fa-long-arrow-right"></i></a></h3>
                                <span class="theme-accent-color-bg hover-bar"></span>
                            </div>

                        </li>
                        <li class="nopadding-lr hover-item">
                            <img src="{% static 'assets/img/news/9.jpg' %}" class="img-responsive smoothie" alt="">
                            <div class="overlay-item-caption smoothie wow fadeIn" data-wow-delay="0.2s">
                                <div class="vertical-center smoothie">
                                    <strong class="heading-font"><span class="theme-accent-color-bg">Travel</span></strong>
                                    <h3><a href="single-post.html" title="view project">Post Title</a></h3>
                                </div>
                            </div>
                            <div class="hover-item-caption smoothie">
                                <h3 class="vertical-center smoothie"><a href="single-post.html" class="smoothie btn btn-primary btn-white page-scroll" title="view article"><i class="fa fa-long-arrow-right"></i></a></h3>
                                <span class="theme-accent-color-bg hover-bar"></span>
                            </div>

                        </li>
                        <li class="nopadding-lr hover-item">
                            <img src="{% static 'assets/img/news/10.jpg' %}" class="img-responsive smoothie" alt="">
                            <div class="overlay-item-caption smoothie wow fadeIn" data-wow-delay="0.2s">
                                <div class="vertical-center smoothie">
                                    <strong class="heading-font"><span class="theme-accent-color-bg">Travel</span></strong>
                                    <h3><a href="single-post.html" title="view project">Post Title</a></h3>
                                </div>
                            </div>
                            <div class="hover-item-caption smoothie">
                                <h3 class="vertical-center smoothie"><a href="single-post.html" class="smoothie btn btn-primary btn-white page-scroll" title="view article"><i class="fa fa-long-arrow-right"></i></a></h3>
                                <span class="theme-accent-color-bg hover-bar"></span>
                            </div>

                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-sm-4 mb30 match-height">
                    <div class="hover-item">
                        <img src="assets/img/news/10.jpg" class="img-responsive smoothie" alt="">
                        <div class="overlay-item-caption smoothie wow fadeIn" data-wow-delay="0.2s">
                            <div class="vertical-center smoothie">
                                <strong class="heading-font"><span class="theme-accent-color-bg">Travel</span></strong>
                                <h3><a href="single-post.html" title="view project">Post Title</a></h3>
                            </div>
                        </div>
                        <div class="hover-item-caption smoothie">
                            <h3 class="vertical-center smoothie"><a href="single-post.html" class="smoothie btn btn-primary btn-white page-scroll" title="view article"><i class="fa fa-long-arrow-right"></i></a></h3>
                            <span class="theme-accent-color-bg hover-bar"></span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 mb30 match-height">
                    <div class="hover-item">
                        <img src="{% static 'assets/img/news/9.jpg' %}" class="img-responsive smoothie" alt="">
                        <div class="overlay-item-caption smoothie wow fadeIn" data-wow-delay="0.2s">
                            <div class="vertical-center smoothie">
                                <strong class="heading-font"><span class="theme-accent-color-bg">Travel</span></strong>
                                <h3><a href="single-post.html" title="view project">Post Title</a></h3>
                            </div>
                        </div>
                        <div class="hover-item-caption smoothie">
                            <h3 class="vertical-center smoothie"><a href="single-post.html" class="smoothie btn btn-primary btn-white page-scroll" title="view article"><i class="fa fa-long-arrow-right"></i></a></h3>
                            <span class="theme-accent-color-bg hover-bar"></span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 mb30 match-height">
                    <div class="hover-item">
                        <img src="{% static 'assets/img/news/8.jpg' %}" class="img-responsive smoothie" alt="">
                        <div class="overlay-item-caption smoothie wow fadeIn" data-wow-delay="0.2s">
                            <div class="vertical-center smoothie">
                                <strong class="heading-font"><span class="theme-accent-color-bg">Travel</span></strong>
                                <h3><a href="single-post.html" title="view project">Post Title</a></h3>
                            </div>
                        </div>
                        <div class="hover-item-caption smoothie">
                            <h3 class="vertical-center smoothie"><a href="single-post.html" class="smoothie btn btn-primary btn-white page-scroll" title="view article"><i class="fa fa-long-arrow-right"></i></a></h3>
                            <span class="theme-accent-color-bg hover-bar"></span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 mb30 match-height">
                    <div class="hover-item">
                        <img src="{% static 'assets/img/news/7.jpg' %}" class="img-responsive smoothie" alt="">
                        <div class="overlay-item-caption smoothie wow fadeIn" data-wow-delay="0.2s">
                            <div class="vertical-center smoothie">
                                <strong class="heading-font"><span class="theme-accent-color-bg">Travel</span></strong>
                                <h3><a href="single-post.html" title="view project">Post Title</a></h3>
                            </div>
                        </div>
                        <div class="hover-item-caption smoothie">
                            <h3 class="vertical-center smoothie"><a href="single-post.html" class="smoothie btn btn-primary btn-white page-scroll" title="view article"><i class="fa fa-long-arrow-right"></i></a></h3>
                            <span class="theme-accent-color-bg hover-bar"></span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 mb30 match-height">
                    <div class="hover-item">
                        <img src="{% static 'assets/img/news/6.jpg' %}" class="img-responsive smoothie" alt="">
                        <div class="overlay-item-caption smoothie wow fadeIn" data-wow-delay="0.2s">
                            <div class="vertical-center smoothie">
                                <strong class="heading-font"><span class="theme-accent-color-bg">Travel</span></strong>
                                <h3><a href="single-post.html" title="view project">Post Title</a></h3>
                            </div>
                        </div>
                        <div class="hover-item-caption smoothie">
                            <h3 class="vertical-center smoothie"><a href="single-post.html" class="smoothie btn btn-primary btn-white page-scroll" title="view article"><i class="fa fa-long-arrow-right"></i></a></h3>
                            <span class="theme-accent-color-bg hover-bar"></span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 mb30 match-height">
                    <div class="hover-item">
                        <img src="{% static 'assets/img/news/5.jpg' %}" class="img-responsive smoothie" alt="">
                        <div class="overlay-item-caption smoothie wow fadeIn" data-wow-delay="0.2s">
                            <div class="vertical-center smoothie">
                                <strong class="heading-font"><span class="theme-accent-color-bg">Travel</span></strong>
                                <h3><a href="single-post.html" title="view project">Post Title</a></h3>
                            </div>
                        </div>
                        <div class="hover-item-caption smoothie">
                            <h3 class="vertical-center smoothie"><a href="single-post.html" class="smoothie btn btn-primary btn-white page-scroll" title="view article"><i class="fa fa-long-arrow-right"></i></a></h3>
                            <span class="theme-accent-color-bg hover-bar"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pad-top-bottom-50 text-center">
                <a href="#" class="btn btn-primary btn-red page-scroll">View Our Blog</a> 
            </div>
        </div>

    </div>
</section>

<section class="dark-wrapper opaqued parallax" data-parallax="scroll" data-image-src="assets/img/bg/bg6.jpg" data-speed="0.8">
    <div class="section-inner">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center mb100">
                    <h2 class="section-heading">People about <span class="theme-accent-color">Jobs 4 You</span></h2>
                    <hr class="thin-hr">
                    <h3 class="section-subheading secondary-font">Satisfaction, everytime.</h3>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <ul class="owl-carousel-paged testimonial-owl wow fadeIn list-unstyled" data-items="1" data-items-desktop="[1200,1]" data-items-desktop-small="[980,1]" data-items-tablet="[768,1]" data-items-mobile="[479,1]">
                        <li>
                            <div class="row">
                                <div class="col-xs-10 col-xs-offset-1 item-caption">
                                    <div class="col-sm-2">
                                        <img src="{% static 'assets/img/team/small1.jpg' %}" class="img-responsive testimonial-author" alt="">
                                    </div>
                                    <div class="col-sm-10">
                                        <p>Compellingly customize highly efficient outsourcing with premium quality vectors. Conveniently target customer directed relationships after highly efficient process improvements.</p>
                                        <h4>Charles Davies</h4>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="row">
                                <div class="col-xs-10 col-xs-offset-1 item-caption">
                                    <div class="col-sm-2">
                                        <img src="{% static 'assets/img/team/small2.jpg' %}" class="img-responsive testimonial-author" alt="">
                                    </div>
                                    <div class="col-sm-10">
                                        <p>Compellingly customize highly efficient outsourcing with premium quality vectors. Conveniently target customer directed relationships after highly efficient process improvements.</p>
                                        <h4>Charles Davies</h4>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="opaqued light-opaqued parallax" data-parallax="scroll" data-image-src="{% static 'assets/img/bg/bg_bw2.jpg' %}" data-speed="0.8">
    <div class="section-inner">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-xs-12">
                    <div class="text-center">
                        <span class="stat-icon"><i class="pe-7s-clock fa-4x"></i></span>
                        <h2><span class="countup">10248</span></h2>
                        <h6>Working <span class="theme-accent-color">Hours</span></h6>
                    </div>
                </div>
                <div class="col-md-3 col-xs-12">
                    <div class="text-center">
                        <span class="stat-icon"><i class="pe-7s-cloud-upload fa-4x"></i></span>
                        <h2><span class="countup">203594</span></h2>
                        <h6>Resumes <span class="theme-accent-color">Uploaded</span></h6>
                    </div>
                </div>
                <div class="col-md-3 col-xs-12">
                    <div class="text-center">
                        <span class="stat-icon"><i class="pe-7s-tools fa-4x"></i></span>
                        <h2><span class="countup">24</span></h2>
                        <h6>Hours Of <span class="theme-accent-color">Support</span></h6>
                    </div>
                </div>
                <div class="col-md-3 col-xs-12">
                    <div class="text-center">
                        <span class="stat-icon"><i class="pe-7s-like fa-4x"></i></span>
                        <h2><span class="countup">999999</span></h2>
                        <h6>Successful <span class="theme-accent-color">Customers</span></h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="silver-bg">
    <div class="section-inner">

         <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center mb100">
                    <h2 class="section-heading">Latest <span class="theme-accent-color">Awesome</span> Projects</h2>
                    <hr class="thin-hr">
                    <h3 class="section-subheading secondary-font">A small taste of our success.</h3>
                </div>
            </div>
        </div>
        
        <div class="container">
            <div class="wow fadeIn" data-wow-delay="0.2s">
                 <ul class="portfolio-filter mb30 text-center list-inline wow fadeIn" data-wow-delay="0.2s">
                    <li><a class="btn btn-primary btn-transparent active" href="#" data-filter="*">All</a></li>
                    <li><a class="btn btn-primary btn-transparent" href="#" data-filter=".apps">Apps</a></li>
                    <li><a class="btn btn-primary btn-transparent" href="#" data-filter=".design">Design</a></li>
                    <li><a class="btn btn-primary btn-transparent" href="#" data-filter=".photography">Photography</a></li>
                    <li><a class="btn btn-primary btn-transparent" href="#" data-filter=".video">Video</a></li>
                </ul>

                <ul class="portfolio-items nopadding-lr isotope list-unstyled">
                    <li class="col-sm-4 col-xs-6 portfolio-item apps isotope-item">
                        <div class="col-xs-12 nopadding-lr hover-item">
                            <img src="{% static 'assets/img/portfolio/portfolio1.jpg' %}" class="img-responsive smoothie" alt="">
                            <div class="overlay-item-caption smoothie wow fadeIn" data-wow-delay="0.2s">

                            </div>
                            <div class="hover-item-caption smoothie">
                                <div class="vertical-center smoothie">
                                    <a href="assets/img/portfolio/portfolio1.jpg" title="view Gallery" class="btn btn-primary btn-white page-scroll lb-link smoothie"><i class="fa fa-plus"></i></a>
                                    <a href="single-portfolio-fullscreen.html" class="smoothie btn btn-primary btn-white page-scroll"><i class="fa fa-long-arrow-right"></i></a>
                                </div>
                                <span class="theme-accent-color-bg hover-bar"></span>
                            </div>
                        </div>
                    </li>
                    <li class="col-sm-4 col-xs-6 portfolio-item design isotope-item">
                        <div class="col-xs-12 nopadding-lr hover-item">
                            <img src="{% static 'assets/img/portfolio/portfolio2.jpg' %}" class="img-responsive smoothie" alt="">
                            <div class="overlay-item-caption smoothie wow fadeIn" data-wow-delay="0.2s">
                            </div>
                            <div class="hover-item-caption smoothie">
                                <div class="vertical-center smoothie">
                                    <a href="assets/img/portfolio/portfolio1.jpg" title="view Gallery" class="btn btn-primary btn-white page-scroll lb-link smoothie"><i class="fa fa-plus"></i></a>
                                    <a href="single-portfolio-fullscreen-video.html" class="smoothie btn btn-primary btn-white page-scroll"><i class="fa fa-long-arrow-right"></i></a>
                                </div>
                                <span class="theme-accent-color-bg hover-bar"></span>
                            </div>
                        </div>
                    </li>
                    <li class="col-sm-4 col-xs-6 portfolio-item photography isotope-item">
                        <div class="col-xs-12 nopadding-lr hover-item">
                            <img src="{% static 'assets/img/portfolio/portfolio3.jpg' %}" class="img-responsive smoothie" alt="">
                            <div class="overlay-item-caption smoothie wow fadeIn" data-wow-delay="0.2s">
                            </div>
                            <div class="hover-item-caption smoothie">
                                <div class="vertical-center smoothie">
                                    <a href="assets/img/portfolio/portfolio1.jpg" title="view Gallery" class="btn btn-primary btn-white page-scroll lb-link smoothie"><i class="fa fa-plus"></i></a>
                                    <a href="single-portfolio.html" class="smoothie btn btn-primary btn-white page-scroll"><i class="fa fa-long-arrow-right"></i></a>
                                </div>
                                <span class="theme-accent-color-bg hover-bar"></span>
                            </div>
                        </div>
                    </li>
                    <li class="col-sm-4 col-xs-6 portfolio-item video isotope-item">
                        <div class="col-xs-12 nopadding-lr hover-item">
                            <img src="{% static 'assets/img/portfolio/portfolio4.jpg' %}" class="img-responsive smoothie" alt="">
                            <div class="overlay-item-caption smoothie wow fadeIn" data-wow-delay="0.2s">
                            </div>
                            <div class="hover-item-caption smoothie">
                                <div class="vertical-center smoothie">
                                    <a href="assets/img/portfolio/portfolio1.jpg" title="view Gallery" class="btn btn-primary btn-white page-scroll lb-link smoothie"><i class="fa fa-plus"></i></a>
                                    <a href="single-portfolio-carousel.html" class="smoothie btn btn-primary btn-white page-scroll"><i class="fa fa-long-arrow-right"></i></a>
                                </div>
                                <span class="theme-accent-color-bg hover-bar"></span>
                            </div>
                        </div>
                    </li>
                    <li class="col-sm-4 col-xs-6 portfolio-item design isotope-item">
                        <div class="col-xs-12 nopadding-lr hover-item">
                            <img src="assets/img/portfolio/portfolio5.jpg" class="img-responsive smoothie" alt="">
                            <div class="overlay-item-caption smoothie wow fadeIn" data-wow-delay="0.2s">
                            </div>
                            <div class="hover-item-caption smoothie">
                                <div class="vertical-center smoothie">
                                    <a href="assets/img/portfolio/portfolio1.jpg" title="view Gallery" class="btn btn-primary btn-white page-scroll lb-link smoothie"><i class="fa fa-plus"></i></a>
                                    <a href="single-portfolio-video.html" class="smoothie btn btn-primary btn-white page-scroll"><i class="fa fa-long-arrow-right"></i></a>
                                </div>
                                <span class="theme-accent-color-bg hover-bar"></span>
                            </div>
                        </div>
                    </li>
                    <li class="col-sm-4 col-xs-6 portfolio-item photography isotope-item">
                        <div class="col-xs-12 nopadding-lr hover-item">
                            <img src="assets/img/portfolio/portfolio6.jpg" class="img-responsive smoothie" alt="">
                            <div class="overlay-item-caption smoothie wow fadeIn" data-wow-delay="0.2s">
                            </div>
                            <div class="hover-item-caption smoothie">
                                <div class="vertical-center smoothie">
                                    <a href="assets/img/portfolio/portfolio1.jpg" title="view Gallery" class="btn btn-primary btn-white page-scroll lb-link smoothie"><i class="fa fa-plus"></i></a>
                                    <a href="single-portfolio.html" class="smoothie btn btn-primary btn-white page-scroll"><i class="fa fa-long-arrow-right"></i></a>
                                </div>
                                <span class="theme-accent-color-bg hover-bar"></span>
                            </div>
                        </div>
                    </li>
                    <li class="col-sm-4 col-xs-6 portfolio-item video isotope-item">
                        <div class="col-xs-12 nopadding-lr hover-item">
                            <img src="assets/img/portfolio/portfolio7.jpg" class="img-responsive smoothie" alt="">
                            <div class="overlay-item-caption smoothie wow fadeIn" data-wow-delay="0.2s">
                            </div>
                            <div class="hover-item-caption smoothie">
                                <div class="vertical-center smoothie">
                                    <a href="assets/img/portfolio/portfolio1.jpg" title="view Gallery" class="btn btn-primary btn-white page-scroll lb-link smoothie"><i class="fa fa-plus"></i></a>
                                    <a href="single-portfolio.html" class="smoothie btn btn-primary btn-white page-scroll"><i class="fa fa-long-arrow-right"></i></a>
                                </div>
                                <span class="theme-accent-color-bg hover-bar"></span>
                            </div>
                        </div>
                    </li>
                    <li class="col-sm-4 col-xs-6 portfolio-item design isotope-item">
                        <div class="col-xs-12 nopadding-lr hover-item">
                            <img src="assets/img/portfolio/portfolio8.jpg" class="img-responsive smoothie" alt="">
                            <div class="overlay-item-caption smoothie wow fadeIn" data-wow-delay="0.2s">
                            </div>
                            <div class="hover-item-caption smoothie">
                                <div class="vertical-center smoothie">
                                    <a href="assets/img/portfolio/portfolio1.jpg" title="view Gallery" class="btn btn-primary btn-white page-scroll lb-link smoothie"><i class="fa fa-plus"></i></a>
                                    <a href="single-portfolio.html" class="smoothie btn btn-primary btn-white page-scroll"><i class="fa fa-long-arrow-right"></i></a>
                                </div>
                                <span class="theme-accent-color-bg hover-bar"></span>
                            </div>
                        </div>
                    </li>
                    <li class="col-sm-4 col-xs-6 portfolio-item design isotope-item">
                        <div class="col-xs-12 nopadding-lr hover-item">
                            <img src="{% static 'assets/img/portfolio/portfolio9.jpg' %}" class="img-responsive smoothie" alt="">
                            <div class="overlay-item-caption smoothie wow fadeIn" data-wow-delay="0.2s">
                            </div>
                            <div class="hover-item-caption smoothie">
                                <div class="vertical-center smoothie">
                                    <a href="assets/img/portfolio/portfolio1.jpg" title="view Gallery" class="btn btn-primary btn-white page-scroll lb-link smoothie"><i class="fa fa-plus"></i></a>
                                    <a href="single-portfolio.html" class="smoothie btn btn-primary btn-white page-scroll"><i class="fa fa-long-arrow-right"></i></a>
                                </div>
                                <span class="theme-accent-color-bg hover-bar"></span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="opaqued light-opaqued parallax" data-parallax="scroll" data-image-src="assets/img/bg/bg_bw1.jpg" data-speed="0.8">
    <div class="section-inner">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center mb100">
                    <h2 class="section-heading">Your <span class="theme-accent-color">Thoughts</span> About Jobs 4 You</h2>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div id="message"></div>
                    <form method="post" id="contactform" class="main-contact-form wow fadeIn" data-wow-delay="0.2s">
                        {% csrf_token %}
                        <input type="text" class="form-control col-md-4" name="name" placeholder="Your Name *" id="name" required data-validation-required-message="Please enter your name." />
                        <input type="text" class="form-control col-md-4" name="email" placeholder="Your Email *" id="email" required data-validation-required-message="Please enter your email address." />
                        <input type="text" class="form-control col-md-4" name="profession" placeholder="Your Profession *" id="profession" required data-validation-required-message="Please enter your Profession." />
                        <textarea name="comments" class="form-control" id="comments" placeholder="Your Message *" required data-validation-required-message="Please enter a message."></textarea>
                        <input class="btn btn-primary mt30 pull-right" type="submit" name="submit" value="Submit" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>



{% endblock %}