<!DOCTYPE html>
<html lang="en">
    {% load static %}

<head>

    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{% static 'assets/img/ico/favicon.ico' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'assets/img/ico/apple-touch-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'assets/img/ico/apple-touch-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'assets/img/ico/apple-touch-icon-72x72.png' %}">
    <link rel="apple-touch-icon" href="{% static 'assets/img/ico/apple-touch-icon-57x57.png' %}">

    <title>JOBS 4 YOU</title>

    <!-- Bootstrap Core CSS -->
    <link href= "{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href= "{% static 'assets/css/animate.css' %}" rel="stylesheet">
    <link href= "{% static 'assets/css/plugins.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href= "{% static 'assets/css/style.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href= "{% static 'assets/font-awesome-4.1.0/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href= "{% static 'assets/css/pe-icons.css' %}" rel="stylesheet">

</head>

<body id="page-top" class="animated-navigation">


    <div class="master-wrapper">

        <div class="preloader">
            <div class="preloader-img">
                <span class="loading-animation animate-flicker"><img src="{% static 'assets/img/loading.GIF' %}" alt="loading" /></span>
            </div>
        </div>

        <nav class="navbar navbar-default navbar-fixed-top fadeInDown" data-wow-delay="0.2s">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-navigation">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand smoothie " href="{% url 'user_dash' %}">JOBS<span class="theme-accent-color">4</span>YOU</a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="main-navigation">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="{% url 'user_dash' %}" class="dropdown-toggle text-light" data-hover="dropdown" data-toggle="dropdown">HOME</a>
                        </li>
                        <!-- <li class="dropdown">
                            <a href="{% url 'company_dash' %}" class="dropdown-toggle text-light" data-hover="dropdown" data-toggle="dropdown">COMPANIES section</a>
                        </li> -->
                        <li class="dropdown">
                            <a href="{% url 'jobs_list' %}" class="dropdown-toggle text-light" data-hover="dropdown" data-toggle="dropdown">FIND JOBS</a>
                        </li>
                        <li class="dropdown">
                            <a href="{% url 'user_view_companies' %}" class="dropdown-toggle text-light" data-hover="dropdown" data-toggle="dropdown">COMPANIES</a>
                        </li>
                        <li class="dropdown">
                            <a href="{% url 'user_logout' %}" class="dropdown-toggle text-light" data-hover="dropdown" data-toggle="dropdown">Logout</a>
                        </li>
                        <li><a href="#search"><i class="pe-7s-search"></i></a></li>
                        <li id="menu-trigger-wrapper">
                            <div class="pull-right">
                                <button type="button" id="menu-toggle" class="tcon tcon-menu--xcross" aria-label="toggle menu">
                                  <span class="tcon-menu__lines" aria-hidden="true"></span>
                                  <span class="tcon-visuallyhidden">toggle menu</span>
                                </button>
                            </div>  
                        </li>
                    </ul>

                </div>
                <!-- /.navbar-collapse -->         

            </div>
            <!-- /.container-fluid -->
        </nav>


        <section class="dark-wrapper opaqued parallax" data-parallax="scroll" data-image-src="assets/img/bg/bg2.jpg" data-speed="0.8">
            <div class="section-inner">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 mt30 text-center wow fadeIn" data-wow-delay="0.2s">
                            <div id="bannertext">
                                <h2 class="section-heading">Search <span class="theme-accent-color">Your Jobs</span></h2>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section>
            <div class="section-inner">
                <div class="container">
                    <div class="row">
                        <div id="post-content" class="col-sm-12 blog-item mb60 wow fadeIn" data-wow-delay="0.2s">
                            <div class="row">
                                <div class="col-xs-2 post-left-col">
                                    
                                </div>
                                <div class="col-xs-10 post-center single-post-content">
                                    <div class="mb50">
                                        
                                        <p>A graduate of Radcliffe College of Harvard University, Helen Keller was the first deafblind person to earn a Bachelor’s Degree of Arts. She went on to become an author, a lecturer, and an advocate for disability rights and politics.</p>
                                    </div>

                                    <div id="comments-list" class="wow fadeIn" data-wow-delay="0.2s">
                                        <div class="mt60 mb50 single-section-title">
                                            <h3>JOBS<span class="theme-accent-color">4</span>YOU</h3>
                                        </div>
                                        <div class="media">
                                            <div class="pull-left">
                                                <img class="avatar comment-avatar" src="http://lorempixel.com/g/80/80/people/9" alt="">
                                            </div>
                                            {% for i in vacency_list %}
                                            <div class="media-body">
                                                <div class="well">
                                                    <div class="media-heading">
                                                        <span class="heading-font theme-accent-color">{{i.employer_job_title}}</span>&nbsp; <small>Posted on {{i.employer_date}}</small>
                                                    </div>
                                                    <p>{{i.employer_id.company_name}}&nbsp;&nbsp;wants <span class="heading-font theme-accent-color">{{i.employer_job_title}}</span></p>
                                                    <p>Last Date : {{i.employer_enddate}}</p>
                                                    <p>{{i.employer_description}}</p>
                                                    <a class="btn btn-primary pull-right mt30" href="{% url 'apply' i.id%}">Apply</a>
                                                </div>
                                                
                                            </div>{% endfor %}
                                        </div><!--/.media-->
                                        
                                    </div>  

        <div id="bottom-frame"></div>

        <a href="#" id="back-to-top"><i class="fa fa-long-arrow-up"></i></a>

    </div>
    <script src="{% static 'assets/js/jquery.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins.js' %}"></script>
    <!-- <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script> -->
    <script src="{% static 'assets/js/init.js' %}"></script>

    </body></html>

    


