{% extends 'user_index.html'%} {% load static %} {% block content %}

<style>
    #companyimage{
        width: 250px;
        height: 250px;
        
    }
</style>

<section id="welcome">
    <div class="section-inner">

        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center mb100">                        
                    <h2 class="section-heading">Welcome <span class="theme-accent-color">To</span> JOBS 4 YOU </h2>
                    <hr class="thin-hr">
                    <h3 class="section-subheading secondary-font">Were very happy to see you.</h3>
                </div>
            </div>
        </div>

        <div>
            <div class="container">
                <div class="col-md-3">
                    <h2 class="mb50">About <span class="theme-accent-color">JOBS 4 YOU</span></h2>
                    <p class="lead">Find the job you want!.</p>
                    <p>Reach professionals with just the right skills and experience. Get great applicants fast. Post your free job in minutes with pre-written job templates. Make a great hire fast! Recruit Top Talent..</p>
                    <p class="mt30"><a href="#contactform" class="btn btn-primary btn-theme page-scroll">Get In Touch</a></p>
                </div>

                <div class="col-md-8 col-md-offset-1">
                    <div class="row">
                        <div class="col-sm-6 wow fadeInUp" data-wow-delay="0.2s">
                            <div class="icon-box-1 match-height mb30">
                                <i class="fa-4x pe-7s-camera"></i>
                                <div class="content-area">
                                    <h3 class="title">Job Alert</h3>                                            
                                    <div class="content">Goodbye gray sky hello blue. There's nothing can hold me when I hold you. Feels so right it cant be wrong.</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 wow fadeInUp" data-wow-delay="0.2s">
                            <div class="icon-box-1 match-height mb30">
                                <i class="fa-4x pe-7s-chat"></i>
                                <div class="content-area">
                                    <h3 class="title">Feedbacks</h3>                                            
                                    <div class="content">Get Reply from jobs4you Team</div>
                                    <p class="mt30"><a href="{% url 'user_reply' %}" class="btn btn-primary btn-theme page-scroll">View Reply</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 wow fadeInUp" data-wow-delay="0.2s">
                            <div class="icon-box-1 match-height mb30">
                                <i class="fa-4x pe-7s-film"></i>
                                <div class="content-area">
                                    <h3 class="title">Vacancies</h3>                                            
                                    <div class="content">A man is born he's a man of means. Then along come two they got nothin' but their jeans. But they got diff'rent strokes. It takes diff'rent strokes.</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 wow fadeInUp" data-wow-delay="0.2s">
                            <div class="icon-box-1 match-height mb30">
                                <i class="fa-4x pe-7s-wine"></i>
                                <div class="content-area">
                                    <h3 class="title">Services</h3>                                            
                                    <div class="content">Now were up in the big leagues getting' our turn at bat. Movin' on up to the east side. We finally got a piece of the pie.</div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>

<section class="silver-bg">
    <div class="section-inner">
         <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center mb100">
                    <h2 class="section-heading">Latest job <span class="theme-accent-color">Vacancies</span></h2>
                </div>
            </div>
        </div>
        
        <div class="wow fadeIn" data-wow-delay="0.2s">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <ul class="owl-carousel-paged testimonial-owl wow fadeIn list-unstyled" data-items-tablet="[768,2]" data-items-mobile="[479,1]">
                            {% for i in var %}
                            <li>
                                <div class="row hover-item">
                                    <div class="col-xs-12">
                                        <img src="{{i.company_logo.url}}" class="img-responsive smoothie" alt="">
                                    </div>
                                    <div class="col-xs-12 overlay-item-caption smoothie"></div>
                                    <div class="col-xs-12 hover-item-caption smoothie">
                                        <div class="vertical-center">
                                            <h3 class="smoothie">{{i.employer_job_title}}</h3>
                                            <h5><a href="{{i.company_website}}"target="_blank" title="Job title">{{i.company_name}}</a></h5>
                                            <a href="{% url 'user_dash' %}" style="text-decoration:none"><button class="btn btn-success btn-md font-weight-light">Apply Now</button></a>
                                                    
                                        </div>
                                    </div>
                                    <span class="theme-accent-color-bg hover-bar"></span>
                                </div>
                            </li>{% endfor %}
                        </div>
                    </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="dark-wrapper opaqued parallax" data-parallax="scroll" data-image-src="assets/img/bg/bg6.jpg" data-speed="0.8">
    <div class="section-inner">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center mb100">
                    <h2 class="section-heading">People about <span class="theme-accent-color">Jobs 4 You</span></h2>
                    <hr class="thin-hr">
                    <h3 class="section-subheading secondary-font">Satisfaction, everytime.</h3>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <ul class="owl-carousel-paged testimonial-owl wow fadeIn list-unstyled" data-items="1" data-items-desktop="[1200,1]" data-items-desktop-small="[980,1]" data-items-tablet="[768,1]" data-items-mobile="[479,1]">
                        {% for i in feedback %}
                        <li>
                            <div class="row">
                                <div class="col-xs-10 col-xs-offset-1 item-caption">
                                    <div class="col-sm-2">
                                        <!-- <img src="{% static 'assets/img/team/small2.jpg' %}" class="img-responsive testimonial-author" alt=""> -->
                                    </div>
                                    <div class="col-sm-10">
                                        <p>{{i.user_feedback_message}}.</p>
                                        <h4>{{i.user_feedback_name}} </h4>
                                    </div>
                                </div>
                            </div>
                        </li>{% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="opaqued light-opaqued parallax" data-parallax="scroll" data-image-src="{% static 'assets/img/bg/bg_bw2.jpg' %}" data-speed="0.8">
    <div class="section-inner">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-xs-12">
                    <div class="text-center">
                        <span class="stat-icon"><i class="pe-7s-clock fa-4x"></i></span>
                        <h2><span class="countup">{{employer}}</span></h2>
                        <h6>Registered <span class="theme-accent-color">Employers</span></h6>
                    </div>
                </div>
                <div class="col-md-3 col-xs-12">
                    <div class="text-center">
                        <span class="stat-icon"><i class="pe-7s-cloud-upload fa-4x"></i></span>
                        <h2><span class="countup">{{resume}}</span></h2>
                        <h6>Resumes <span class="theme-accent-color">Uploaded</span></h6>
                    </div>
                </div>
                <div class="col-md-3 col-xs-12">
                    <div class="text-center">
                        <span class="stat-icon"><i class="pe-7s-tools fa-4x"></i></span>
                        <h2><span class="countup">24</span></h2>
                        <h6>Hours Of <span class="theme-accent-color">Support</span></h6>
                    </div>
                </div>
                <div class="col-md-3 col-xs-12">
                    <div class="text-center">
                        <span class="stat-icon"><i class="pe-7s-like fa-4x"></i></span>
                        <h2><span class="countup">{{resume}}</span></h2>
                        <h6>Successful <span class="theme-accent-color">Jobseekers</span></h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="opaqued light-opaqued parallax" data-parallax="scroll" data-image-src="assets/img/bg/bg_bw1.jpg" data-speed="0.8">
    <div class="section-inner">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center mb100">
                    <h2 class="section-heading">Your <span class="theme-accent-color">Thoughts</span> About Jobs4You</h2>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div id="message"></div>
                    <form  method="post"  id="contactform" class="main-contact-form wow fadeIn">
                        {% csrf_token %}
                        <input type="text" class="form-control col-md-4" name="name" placeholder="Your Name *" id="name" required data-validation-required-message="Please enter your name." />
                        <input type="text" class="form-control col-md-4" name="email" placeholder="Your Email *" id="email" required data-validation-required-message="Please enter your email address." />
                        <input type="text" class="form-control col-md-4" name="profession" placeholder="Your Profession *" id="profession" required data-validation-required-message="Please enter your Profession." />
                        <textarea name="comments" class="form-control" id="comments" placeholder="Your Message *" required data-validation-required-message="Please enter a message."></textarea>
                        <button type="submit" class="btn btn-primary mt30 pull-right" >Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% if msg_success %}
    <script>
        alert('{{ msg_success }}')
        javascript: history.go(-1);
    </script>
    {% endif %}

{% endblock %}